@media screen and (max-width: 1100px){

    .album{
        width: calc((100% / 4) - 30px);
    }

}


@media screen and (max-width: 700px){

    .album{
        width: calc((100% / 2) - 30px);
    }
    .album:nth-child(odd){
        margin-left: 0px;
    }
    .album:nth-child(even){
        margin-right: 0px;
    }

    .f-right{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .f-left{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .f-left i{
        margin-top: 20px;
    }

}

@media screen and (max-width: 600px){
    
    aside .logo img.logo-L{
        display: none;
    }
    aside .logo img.logo-XS{
        display: inline;
    }
    aside{
        width: 68px;
        text-align: center;
    }

    main header#banner-upgrade{
        width: calc(100% - 68px);
    }

    .none-XS{
        display: none;
    }
    
    .aside-f{
        margin-top: auto;
    }

    footer .f-center i.fa-play-circle{
        font-size: 28px;
    }
    footer .f-center i.fa-redo-alt, footer .f-center i.fa-random{
        font-size: 16px;
    }
    footer .f-center i[class*="fa-caret"]{
        font-size: 30px;
    }
    footer .f-center i[class*="fa-caret"]::after{
        height: 13px;
        width: 4px;
    }
    footer .f-center i.fa-caret-left::after{
        left: -2px;
    }
    footer .f-center i.fa-caret-right::after{
        right: -2px;
    }

    .f-left label h6{
        display: none;
    }
    .f-left label{
        position: relative;
    }
    .f-left label h5{
        position: absolute;
        top: 90px;
        left: -90px;
    }
    .f-left{
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
    }
    footer .f-left div.mini-cover-actions{
        margin-left: -10px;
    }
}