/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
        /* regular: 400 */
        /* Semi-Bold: 600 */
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* common */
body{
    display: flex;
    flex-wrap: wrap;
}


/* Icons */
span.plus-icon{
    padding: 0px 10px;
    font-size: 36px;
    background-color: white;
    color: black;
    vertical-align: middle;
}

.icons{
    vertical-align: middle;
    height: 28px;
}

.aside-f img.icons{
    height: 22px;
}


/* Aside - Navigation */
aside{
    height: calc(100vh - 135px);
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #c0c0c0;
}

aside > div, aside > nav{
    padding: 10px;
}

aside .logo{
    height: 70px;
    width: 100%;
    flex-shrink: 0;
}
aside .logo img{
    height: 100%;
}

.side-nav{
    padding-top: 20px;
    width: 100%;
    flex-shrink: 0;
}
.side-nav li{
    margin-bottom: 10px;
}

.aside-lists-box{
    padding-top: 15px;
    height: 100px;
    width: 100%;
    flex-grow: 1;
}
.aside-lists-box button{
    color: white;
    background-color: transparent;
    border: none;
    margin: 17px 0px;
}
.aside-lists-box li{
    margin-bottom: 20px;
}

.aside-f{
    height: 100px;
    width: 100%;
    flex-shrink: 0;
    background-color: #000000;
}
.aside-f hr{
    margin: 10px 0px;
}
.aside-f h3 img.profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: gray;
}


/* Main Content */
.main-width{
    width: calc(100% - 230px);
}
main{
    height: calc(100vh - 135px);
    background-color: lightcyan;
    overflow: auto;
}

.main-container{
    padding-top: 70px;
}

main header#banner-upgrade{
    height: 70px;
    background-color: seagreen;
    position: fixed;
    top: 0;
    right: 0;
}

main nav{
    width: 100%;
    height: 70px;
    background-color: aqua;
}

main section{
    height: 400px;
    background-color: bisque;
    border: 1px solid black;
}

/* Footer */
footer{
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
}

.f-left, .f-right{
    width: calc((100% / 12) * 2);
    min-width: 140px;
}
.f-center{
    width: calc((100% / 12) * 5);
    min-width: 180px;
}

footer div{
    background-color: red;
}