/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* common */
body{
    display: flex;
    flex-wrap: wrap;
}

main{
    height: calc(100vh - 135px);
    width: calc(100% - 230px);
    background-color: lightcyan;
}

footer{
    height: 135px;
    width: 100%;
    background-color: lightcoral;
}

/* Aside - Navigation */
aside{
    height: calc(100vh - 135px);
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

aside .logo{
    height: 70px;
    width: 100%;
    flex-shrink: 0;
    background-color: red;
}

.side-nav{
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    background-color: blue;
}

.aside-lists-box{
    height: 50px;
    width: 100%;
    flex-grow: 1;
    background-color: purple;
}

.aside-f{
    height: 100px;
    width: 100%;
    flex-shrink: 0;
    background-color: saddlebrown;
}