/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
        /* regular: 400 */
        /* Semi-Bold: 600 */
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* common */
.all-container{
    width: 100%;
    height: calc(100vh - 135px);
    display: flex;
}
.float-right{
    float: right;
}
body{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}

h3{
    font-size: 16px;
}
h4 {
    color: #A3A3A3;
    font-size: 14px;
}

/* Button */
.btn-clean{
    padding: 10px 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
}


/* Icons */
span.plus-icon{
    padding: 0px 10px;
    font-size: 36px;
    background-color: #A3A3A3;
    color: black;
    vertical-align: middle;
}

.icons{
    vertical-align: middle;
    height: 28px;
}

.aside-f img.icons{
    height: 22px;
}


/* Aside - Navigation */
aside{
    height: calc(100vh - 135px);
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #A3A3A3;
}

aside > div, aside > nav{
    padding: 15px;
}

aside .logo{
    height: 70px;
    width: 100%;
    flex-shrink: 0;
}
aside .logo img{
    height: 100%;
}

aside .logo img.logo-XS{
    display: none;
}

.side-nav{
    padding-top: 20px;
    width: 100%;
    flex-shrink: 0;
}
.side-nav li{
    margin-bottom: 10px;
}

.aside-lists-box{
    padding-top: 15px;
    height: 100px;
    width: 100%;
    flex-grow: 1;
}
.aside-lists-box button{
    color: #A3A3A3;
    background-color: transparent;
    border: none;
    margin: 17px 0px;
}
.aside-lists-box li{
    margin-bottom: 20px;
}

.aside-f{
    height: 100px;
    width: 100%;
    flex-shrink: 0;
    background-color: #000000;
}
.aside-f hr{
    margin: 10px 0px;
}
.aside-f h3 img.profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: gray;
}


/* Main Content */
main{
    height: 100%;
    width: 0;
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}

.main-container{
    padding-top: 80px;
}
.flex-container{
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}
.flex-container section{
    width: 100%;
    padding: 15px;
    color: #fff;
}
.flex-container section > h2{
    margin-bottom: 15px;
    font-size: 26px;
}
.flex-container section > h4{
    margin-bottom: 20px;
}

main header#banner-upgrade{
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: calc(100% - 230px);
    top: 0;
    right: 0;
}

main nav{
    width: 100%;
}
main nav ul{
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    color: #A3A3A3;
}
main nav li{
    display: inline-block;
    margin: 0 10px;
}

/* Main -- Albums */
.sec-album-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sec-album-container .album:first-child{
    margin-left: 0px;
}
.sec-album-container .album:last-child{
    margin-right: 0px;
}

.album{
    height: 100%;
    width: calc((100% / 6) - 30px);
    text-align: center;
    margin: 0px 15px;
}
.album img {
    width: 100%;
}
.album h3 {
    margin: 8px 0px;
}
.album h4 {
    margin-bottom: 10px;
}

.album.circle img{
    border-radius: 50%;
}

/* Footer */
footer{
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}

.f-left, .f-right{
    width: calc((100% / 12) * 2);
    min-width: 160px;
}
.f-center{
    width: calc((100% / 12) * 5);
    min-width: 180px;
}

footer div{
    border: 1px solid red;
}